body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
}

header {
  background: #111827;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

header p {
  font-size: 20px;
}


button {
  margin-top: 25px;
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


button:hover {
  background: #1d4ed8;
  transform: translateY(-3px);
}


section {
  background: white;
  max-width: 900px;
  margin: 30px auto;
  padding: 35px;
  border-radius: 15px;
}


section:hover {
  transform: translateY(-3px);
}


h2 {
  color: #2563eb;
  margin-bottom: 15px;
}


p {
  line-height: 1.6;
}


footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}
