*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #050505;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
}

.hero-text{
    width: 50%;
}

.hero-image{
    width: 50%;
    display: flex;
    justify-content: center;
}