.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 8%;
min-height:100vh;
gap:60px;
background:#050505;
}

.hero-left{
flex:1;
}

.hello{
color:#7dff7d;
font-size:28px;
font-weight:bold;
margin-bottom:20px;
}

.hero-left h1{
font-size:90px;
font-weight:900;
line-height:1;
margin-bottom:20px;
color:white;
}

.hero-left h1 span{
color:#39ff14;
text-shadow:0 0 25px #39ff14;
}

.hero-left h2{
font-size:45px;
margin-bottom:25px;
color:white;
}

.desc{
font-size:24px;
color:#cfcfcf;
line-height:1.7;
max-width:700px;
margin-bottom:40px;
}

.hero-buttons{
display:flex;
gap:20px;
}

.btn{
padding:20px 40px;
background:#39ff14;
color:black;
font-weight:bold;
border-radius:15px;
text-decoration:none;
font-size:22px;
box-shadow:0 0 25px #39ff14;
}

.btn2{
padding:20px 40px;
border:3px solid #39ff14;
color:#39ff14;
font-weight:bold;
border-radius:15px;
text-decoration:none;
font-size:22px;
box-shadow:0 0 25px #39ff14;
}

.hero-right{
flex:1;
display:flex;
justify-content:center;
}

.hero-right img{
width:100%;
max-width:700px;
border-radius:30px;
box-shadow:
0 0 30px #39ff14,
0 0 80px #39ff14;
}