*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:red;
color:white;
overflow-x:hidden;
}

/* NAVBAR */

nav{
width:95%;
margin:auto;
margin-top:20px;

padding:20px;

border:2px solid #39ff14;
border-radius:20px;

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(0,0,0,0.5);

box-shadow:0 0 20px #39ff14;
}

.logo{
font-size:28px;
font-weight:bold;
color:#39ff14;
}

.nav-links{
display:flex;
gap:20px;
}

.nav-links a{
text-decoration:none;
color:white;

padding:12px 20px;
border-radius:12px;

transition:0.3s;
}

.nav-links a:hover{
background:#39ff14;
color:black;

box-shadow:0 0 20px #39ff14;
}

/* HERO */

.hero{
min-height:100vh;

display:flex;
justify-content:space-between;
align-items:center;

padding:80px;

gap:40px;
}

/* LEFT */

.left{
flex:1;
}

.left h3{
font-size:30px;
color:#39ff14;
margin-bottom:20px;
}

.left h1{
font-size:90px;
margin-bottom:20px;
}

.left h1 span{
color:#39ff14;
text-shadow:0 0 20px #39ff14;
}

.left h2{
font-size:40px;
margin-bottom:25px;
}

.left p{
font-size:22px;
line-height:1.8;
color:#ccc;
margin-bottom:40px;
max-width:700px;
}

/* BUTTONS */

.buttons{
display:flex;
gap:20px;
}

.btn,
.btn2{

padding:18px 35px;
border-radius:15px;

text-decoration:none;
font-size:20px;
font-weight:bold;

transition:0.3s;
}

.btn{
background:#39ff14;
color:black;

box-shadow:0 0 20px #39ff14;
}

.btn:hover{
transform:scale(1.05);
}

.btn2{
border:2px solid #39ff14;
color:#39ff14;
}

.btn2:hover{
background:#39ff14;
color:black;

box-shadow:0 0 20px #39ff14;
}

/* RIGHT IMAGE */

.right{
flex:1;

height:750px;

border-radius:30px;

background-image:
linear-gradient(
rgba(0,0,0,0.2),
rgba(0,0,0,0.2)
),
url("./images/4C8A790E-7BD0-4A0C-81D9-8EDF4D0E6BEB.png");

background-size:cover;
background-position:center;

box-shadow:
0 0 30px #39ff14,
0 0 80px #39ff14;

}

/* RESPONSIVE */

@media(max-width:900px){

.hero{
flex-direction:column;
padding:40px;
text-align:center;
}

.left h1{
font-size:60px;
}

.left h2{
font-size:28px;
}

.left p{
font-size:18px;
}

.buttons{
justify-content:center;
flex-wrap:wrap;
}

.right{
width:100%;
height:500px;
}

nav{
flex-direction:column;
gap:20px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
}

}